.menu-modal__container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-modal__header {
    color: var(--text-primary-color);
    font-size: 30px;
    margin-bottom: 30px;
    
}

.menu-modal__list {
    list-style: none;

}

.menu-modal__item {
    color: var(--text-primary-color);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(207, 205, 205, 0.2);
    margin: 0 10px;
}

.menu-modal__item span {
    margin: 0 20px;
    
}

.menu-modal__item-name {
    min-width: 310px;
}

.menu-modal__item-price {
    margin-left: 0;
    padding-left: 20px;
    border-left: 1px solid rgba(207, 205, 205, 0.2);
}

.menu-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--text-secondary-color);
    font-size: 25px;
    
}

.menu-modal__close:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 10px var(--accent-color));
    transition: 0.5s;
}

@media screen and (max-width: 490px) {
    .menu-modal__item-name {
        min-width: 250px;
    }
}

@media screen and (max-width: 450px) {
    .menu-modal__header {
        font-size: 20px;
    }
    .menu-modal__item span {
        font-size: 12px
    }

    .menu-modal__item-name {
        min-width: 200px;
    }

    .menu-modal__item-price {
        display: block;
        min-width: 65px;
    }
}

@media screen and (max-width: 360px) {
    .menu-modal__item-name {
        min-width: 0;
    }
}